/* html,body{
    height: 100%;
} */
.inputBtn {
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    border:none
}

.groupBtn {
    margin: 0 auto;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
}

.groupBtn:hover {
    background-color: rgb(216, 216, 216);
    transition: 0.3s;
}

.taskNumber {
    margin-left: 60%;
    background-color: tan;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    font-size: small;
}
.stickyImage {
    position: absolute;
    transform: rotate(-20deg);
    left: -20px;
    top: 60px;
    z-index: -1;
    height: 300px;
}
.addReminder {
    position: absolute;
    overflow: hidden;
    top: 160px;
    left:0;
    right:0;
    margin: auto;
    background: none;
    border:0;
    font-size: 3rem;
    color: #007bff;
    width: fit-content;
}

.addGroup {
    position: absolute;
    overflow: hidden;
    top: 140px;
    left:0;
    right:0;
    margin: auto;
    background: none;
    border:0;
    color: #007bff;
    width: fit-content;
}

/* TOGGLE SWITCH CSS */

#switch{
	height: 0;
	width: 0;
	visibility: hidden;
}

#switchLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: inline-block;
	border-radius: 25px;
	position: relative;
}

#switchLabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 15px;
	transition: 0.3s;
}

#switch:checked + #switchLabel {
	background: #da5555;
}

#switch:checked + #switchLabel:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#switchLabel:active:after {
	width: 20px;
}

#switch2{
	height: 0;
	width: 0;
	visibility: hidden;
}

#switchLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: inline-block;
	border-radius: 25px;
	position: relative;
}

#switchLabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 15px;
	transition: 0.3s;
}

#switch2:checked + #switchLabel {
	background: #da5555;
}

#switch2:checked + #switchLabel:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#switchLabel:active:after {
	width: 20px;
}

/* Map css */

.my_app {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
}
.card {
    z-index: 1
}
.searchBar {
    position: relative;
    
    z-index: 1;
}
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}
.setcoordbtn {
    position: relative;
    z-index:1;
}
.mainWrapper {
    z-index:1;
    height: 100vh;
}

.loginSignupWindow{
    padding: 20px 0 20px 0;
    margin-top:100px;
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background: white;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.26);
}

.loginSignupWindowWrapper {
    height: 100vh;
    overflow: hidden;
    background: url("https://media1.thehungryjpeg.com/thumbs2/ori_3648609_ht7kdk2gcz7u7h5ot282yt5ljub6ebgcw1d3ck61_shining-stars-seamless-repeating-pattern-colorful-stars-background.jpg");
}